<footer>
    <div class="wrapper-inner">

        <div class="left-column">
            <div class="logo">
                <img src="/static/product/img/logo-footer.png" alt="logo-img">
                <a href="#"></a>
            </div>
            <small>© 2018/ Забор Эксперт -
                лидер в производстве
                железобетонных изделий</small>
        </div>
        <div class="right-column">
            <div class="top">

                <div class="address">
                    <span>{{ requisites.address | default:""}}</span>
                </div>
                <div class="phone">
                    <a href="tel:{{ requisites.phone | default:""}}">{{ requisites.phone | default:""}}</a>
                </div>

            </div>
            <div class="bottom">
                <nav>
                    <ul>
                        <li><a href="/">Главная</a></li>
                {#        <li class="footer-catalog-link"><a href="#header" >Каталог</a></li>#}
                {#        <li><a href="installation">Установка</a></li>#}
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
</footer>