<header id="header">

    <div class="top-header">
        <div class="wrapper-inner">

            <div class="address">
                <span>{{ requisites.address | default:""}}</span>
            </div>
            <div class="phone">
                <a href="tel:+{{ requisites.phone | default:"" }}">{{ requisites.phone | default:"" }}</a>
            </div>

        </div>
    </div>

    <div class="bottom-header">
        <div class="wrapper-inner">

            <div class="logo">
                <img src="/static/product/img/logo.png" alt="logo-img">
                <a href="#"></a>
            </div>
            <nav class="nav-header">
                <ul class="list-menu">
                    <li><a href="/">Главная</a></li>
            {#        <li class="catalog-link">#}
            {#            <a href="#">Каталог</a>#}
            {#        </li>#}
            {#        <li><a href="installation">Установка</a></li>#}
                    <li><a href="/contact">Контакты</a></li>
                </ul>
                <div class="catalog-menu-wrapper">
                    <ul class="first-submenu">
                        <li class="level-active"><a href="#">Заборы</a></li>
                        <li><a href="#">Калитки</a></li>
                        <li><a href="#">Ворота</a></li>
                        <li><a href="#">Другое</a></li>
                    </ul>
                    <ul class="second-submenu-wrapper">
                        <li class="second-submenu submenu-1 active">
                            <div>
                                <a href="#">
                                    Железобетонные заборы
                                    <div class="img-menu">
                                        <img src="/static/product/img/menu-item-1.png" alt="img">
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    Заборы из профнастила
                                    <div class="img-menu">
                                        <img src="/static/product/img/menu-item-2.png" alt="img">
                                    </div>
                                </a>
                            </div>
                            <div><a href="#">Кованые заборы</a></div>
                            <div><a href="#">Фурнитура</a></div>
                        </li>
                        <li class="second-submenu submenu-2">
                            <div><a href="#">Железобетонные заборы</a></div>
                            <div><a href="#">Заборы из профнастила</a></div>
                            <div><a href="#">Кованые заборы</a></div>
                            <div><a href="#">Фурнитура</a></div>
                            <div><a href="#">Железобетонные заборы</a></div>
                            <div><a href="#">Заборы из профнастила</a></div>
                            <div><a href="#">Кованые заборы</a></div>
                            <div><a href="#">Фурнитура</a></div>
                            <div><a href="#">Железобетонные заборы</a></div>
                            <div><a href="#">Заборы из профнастила</a></div>
                            <div><a href="#">Кованые заборы</a></div>
                            <div><a href="#">Фурнитура</a></div>
                        </li>
                    </ul>
                </div>
            </nav>

            <button class="hamburger hamburger--spring" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
            </button>

        </div>
    </div>

</header>


