<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>Забор Град - Контакты</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="/static/product/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/product/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/product/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/product/img/favicon/apple-touch-icon-114x114.png">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <link rel="stylesheet" href="/static/product/css/main.min.css">

</head>

<body>

<div class="wrapper contact">

    {% include 'blocks/header.html' %}

    <main>

        <div class="title-contact-block">
            <div class="wrapper-inner">

                <ul>
                    <li>Производство</li>
                    <li>Доставка</li>
                    <li>Установка</li>
                </ul>
                <p>Качественное изделие - надежная защита</p>

            </div>
        </div>

        <div class="contact-content-wrapper">
            <div class="wrapper-inner">

                <h2>Наш офис</h2>

                <div class="contact-description-wrapper">

                    <div class="contact-left-column">
                        <div class="address">
                            <span>Наш адресс:</span>
                            <span>{{ requisites.address | default:"" }}</span>
                        </div>
                        <div class="phone">
                            <span>Наши телефоны:</span>
                            <a href="tel:{{ requisites.phone | default:"" }}">{{ requisites.phone | default:"" }}</a>,
                            <a href="tel:{{ requisites.additional_phone | default:"" }}">{{ requisites.additional_phone | default:"" }}</a>
                        </div>
                        {% if requisites.email %}
                            <div class="email">
                                <span>Наш e-mail:</span>
                                <a href="mailto:{{ requisites.email | default:"" }}">{{ requisites.email | default:"" }}</a>
                            </div>
                        {% endif %}
                        {% if requisites.working_hours %}
                            <div class="time">
                                <span>Часы работы:</span>
                                <span>{{ requisites.working_hours | default:"" }}</span>
                            </div>
                        {% endif %}
                    </div>

                    <div class="contact-right-column">
                        <div class="territory">
                            <span>Теретория покрытия:</span>
                            <span>{{ requisites.area | default:"" }}</span>
                            <span class="small-text">{{ requisites.additional_area_info | default:"" }}</span>
                        </div>
                        <div class="requisites">
                            <span>Реквизиты</span>
                            {{ requisites.requisites | safe | default:"" }}
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2394.27491555693!2d29.17378701583002!3d53.123210379932814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d730f9e3929989%3A0xd0e041a2429f43ee!2z0YPQuy4g0JPQu9GD0YHRgdC60LDRjywg0JHQvtCx0YDRg9C50YHQug!5e0!3m2!1sru!2sby!4v1521655792793" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </main>

    {% include 'blocks/footer.html' %}

</div>

<script src="/static/product/js/scripts.min.js"></script>

</body>
</html>
